---
import { getCollection } from "astro:content";
import BaseLayout from "./base-layout.astro";
import BlogCard from "../components/blog-card.astro";

const articles = await getCollection("blog");
---

<BaseLayout>
    <div class="space-y-20">
        <h1>Blog</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {articles.map((article) => <BlogCard {...article} />)}
        </div>
    </div>
</BaseLayout>
