---
import { Card } from '../components/Card';
import BaseLayout from './base-layout.astro'

---


<BaseLayout>
	<div class="mt-40">
		<h1 class="text-6xl uppercase">Thomas J. O. Bouasli</h1>
		<p class="text-xl text-zinc-600">Software Engineer @ Lideranca e Capitalizacao</p>
	</div>
	<Card client:load />
</BaseLayout>
