---
import { getCollection } from 'astro:content';
import BaseLayout from './base-layout.astro';
import ProjectCard from '../components/project-card.astro';

const projects = await getCollection('personal') 
---

<BaseLayout>
    <div class="space-y-20">
        <h1>Personal projects</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {projects.map((project) => (
                <ProjectCard {...project} />
            ))}
        </div>
    </div>
</BaseLayout>